$main_color: #B03234;
#nav-config{
  width: 100%;
  border-bottom: 1px solid $main_color;
  #header-config-logo{
    display: inline-block;
    float: left;
    margin-left: 23px;
  }
  .nav-content{
    height: 100px;
    margin-left: 250px;
    display: inline-block;
    ul{
      list-style: none;
      height: 100px;
      li{
        display: inline-block;
        height: 100px;
        width: 109px;
        margin-left: 63px;
        padding-top: 40px;
        text-align: center;
        a{
          text-transform: uppercase;
        }
        font {
          size: 14px;
        }
        :first{
          margin-left: 20px;
        }
      }
      :hover{
        color: white;
        background-color: $main_color;
      }
    }
  }
  #user-image{
    margin-top: 0px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #B03234;
    color: white;
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 18px;
  }

}
.exit-button{
  display: flex;
  justify-content: flex-end;
  margin-right: 26px;
}
