<div class="">
  <nav id="nav-config">
    <div id="header-config-logo">
      <img style="height: 71px;" src="../../../assets/image/logo_cusc.png" alt="image-not-found">
      <p>KHU VỰC QUẢN LÝ<p>
    </div>
    <div class="nav-content">
      <ul>
        <li>
          <a>trang chủ</a>
        </li>
        <li>
          <a>quản lý</a>
        </li>
        <li>
          <a>chỉnh sửa</a>
        </li>
        <li>
          <a>tin tức</a>
        </li>

        <li>
          <a>thoát</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
