$main_color: #B03234;
// nhung diem vuot troi trong aptech
.service-icon{
	width: 45px;
  float: left;
  img{
    height: 40px;
    width: 40px;
  }
}
.service-content{
	padding-left: 75px;
}
.service-item{
	margin-bottom: 50px;
}
.event-title{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: $main_color;
  }
}
// news
.service-section{
	margin-bottom: 10px;
}
.main-service{
  margin-top: 25px;
  display: inline-block;
}
.section-title{
	background: white;
	border-bottom: 3px solid #B03234;
	line-height: 23px;
	text-transform: uppercase;
	display: flex;
}
.section-title h3{
	color: black;
	font-size: 15px;
	font-weight: bold;
	line-height: 23px;
}
.section-title .corner{
	background: #B03234;
	font-size: 13px;
	padding: 5px 10px;
	display: inline-block;
	position: relative;
}
.extra-news{
	display: inline-block;
	max-width: 32.3333333% !important;
}
.section-title .corner{
	background: #B03234;
	font-size: 13px;
	padding: 5px 10px;
	display: inline-block;
	position: relative;
	color: white;
}
.corner:after {
	border-color: transparent transparent #B03234 #B03234;
	border-style: solid;
	border-width: 14px 11px;
	display: block;
	position: absolute;
	width: 0;
	top: 0;
	right: -22px;
}
.blog-main{
	background: none repeat scroll 0 0 #f2f2f2;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 2px 5px rgba(0, 0, 0, 0.09);
  .blog-thumb{
    img{
      height: 100%;
      width: 100%;
      border-radius: 3px 3px 3px 3px;
      border: 1px solid #CCC;
    }

  }
}
.blog-name{
  overflow: hidden;
  text-transform: uppercase;
  padding-top: 5px;
  margin-top: 10px;
  height: 60px;
  text-align: center;
  h4{
    padding-left: 10px;
    padding-top: 12px;
    color: $main_color;
    font-size: 13px;
    padding-bottom: 10px;
  }
}
.blog-img{
	float: left;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	display: block;
	padding: 3px;
	margin-left: 8px;

}
.blog-content{
	height: 160px;
  margin-bottom: 12px;
  float: left;
  padding-left: 20px;
  width: 295px;
}
.extra-news{
	vertical-align: top;
	text-align: center;
	margin-bottom: 10px;
	background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 2px 5px rgba(0, 0, 0, 0.09);
    margin: 3px 2px 0 0;
    padding: 5px;
    height: 190px;
    margin-top: 5px;
    overflow: hidden;
}
.button-extend{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
}
//carousel
.carousel-control{
  height: 50px;
  width: 50px;
  background-color: darkgray;
  border-radius: 50px;
  margin: auto;
}
// info teacher
.teacher-item{
  margin-left: 55px;
  img{
    float: left;
    min-width: 150px;
    min-height: 150px;
    width: 200px;
    height: 200px;
  }
  .teacher-info{
    margin-left: 238px;
    width: 560px;
    text-align: justify;
  }
}

// tin phu
.second-news{
  background-color: #ededed;
  margin-top: 57px;
  height: 400px;
  overflow: hidden;
  border-top: 3px solid $main_color;
  float: right;
  .news-item-title{
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
// button-news-extend
.button-news-extend{
  border: 1px solid $main_color;
  background-color: white;
  border-radius: 4px;
  padding: {
    top: 5px;
    bottom: 5px;
    left: 35px;
    right: 35px;
  }
  color: $main_color;
}
// advarties
.photo-item{
  float: left;
  img{
    height: 222px;
    width: 100%;
  }
  height: 276px;
  .photo-advertise{
    padding: 8px;
    box-shadow: 0 0 10px #ccc;
  }
}
.list-photo-advertise{
  display: flex;
  flex-wrap: wrap;
}
.carousel-item img{
  width: 100%;
}
