<div class="sticky-nav-wrapper">
  <nav id="navbar" class="main-navigation navbar navbar-fixed-top navbar-expand-lg navbar-light sticky-nav" ngStickyNav>
    <button class='navbar-toggler menu-sm-button' type='button' data-toggle='collapse' href='#collapsibleNavbar' aria-controls='#collapsibleNavbar'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class='container collapse navbar-collapse' id='collapsibleNavbar' style='display: none;'>
      <ul class="main-menu navbar-nav" >
        <li class="menu-item nav-item dropdown" *ngFor="let item of menu">
          <a class="menu-link nav-link" href="javascript:void(0)">
            {{item.name}}
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item"  *ngFor="let i of item.submenu">
              <a class="dropdown-item" href="javascript:void(0)">
                {{i.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- menu fixed mobile -->
  </nav>
</div>
<!-- <div class="menu-mobile ">
  <ul>
    <li class="menu-item nav-item dropdown" *ngFor="let item of menu">
      <a class="menu-link nav-link" href="javascript:void(0)">
        {{item.name}}
      </a>
    </li>
  </ul>
</div> -->
