<div class="sticky-nav-wrapper">
  <nav id="navbar" class="main-navigation navbar navbar-fixed-top navbar-expand-lg navbar-light sticky-nav" ngStickyNav>
    <button class='navbar-toggler menu-sm-button' type='button' data-toggle='collapse' href='#collapsibleNavbar' aria-controls='#collapsibleNavbar'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class='container collapse navbar-collapse' id='collapsibleNavbar' style='display: none;'>
      <ul class="main-menu navbar-nav">
        <li class="menu-item nav-item dropdown">
          <a class="menu-link nav-link" href="javascript:void(0)">
            tuyển sinh
          </a>
          <ul class="sub-menu">
            <li class="sub-menu-item">
              <a class="dropdown-item" href="javascript:void(0)">
                Thông tin tuyển sinh
              </a>
            </li>
            <li class="sub-menu-item">
              <a class="dropdown-item" href="javascript:void(0)">
                Thông tin trúng tuyển
              </a>
            </li>
            <li class="sub-menu-item">
              <a class="dropdown-item" href="javascript:void(0)">
                Câu hỏi thường gặp
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item nav-item dropdown">
          <a class="menu-link nav-link" href="javascript:void(0)">
            việc làm
          </a>
        </li>
        <li class="menu-item nav-item dropdown">
          <a class="menu-link nav-link" href="javascript:void(0)">
            Đào tạo quốc tế
          </a>
        </li>
        <li class="menu-item nav-item dropdown">
          <a class="menu-link nav-link" routerLink="login">
            Đăng nhập
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

