// .navbar{
//   overflow: hidden;
//   position: fixed;
//   top: 0;
// }
$main_color: #B03234;
.main-navigation{
	background: $main_color;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: -.03em;
	padding: 0;
  z-index: 9;
  .menu{
    display: flex;
  }
  li{
    position: relative;
    font-size: 1.4rem;
  }
  a{
    display: block;
    color: black;
	  padding: 0 10px;
  }
}
.main-navigation ul ul ul{
	top: 0;
	left: 100%;
}
.main-navigation ul ul{
	box-shadow: 0 3px 6px rgba(0,0,0,.2);
    position: absolute;
    background: white;
    min-width: 270px;
    text-transform: none;
    font-weight: 400;
    font-size: 1.6rem;
}
.main-navigation ul ul li{
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.sub-menu{

	list-style: none;
	padding-left: 0;
	background: white;
	display: none;
	z-index: 999;
}
.sub-menu .sub-menu-item a{
	font-size: 15px;
	line-height: 40px;
	text-transform: capitalize;
}
.main-menu .menu-item .menu-link{
	color: white !important;
	font-size: 14px;
}
.main-menu .menu-item:first-child{
	background: rgba(0,0,0,.1);
}
.main-menu .menu-item .menu-link:hover {
	background: rgba(0,0,0,.1);
}
.main-menu .menu-item:hover .sub-menu{
	display: block;
}
//stick navbar
:root {
  --sticky-nav-height: 25px;
}
.sticky-nav-wrapper{
  min-height: var(--sticky-nav-height);
}
.sticky-nav{
  height: var(--sticky-nav-height);
  width: 100%;
}
@media only screen and (max-width: 991px) and (min-width: 768px){
  .menu-sm-button {
    position: fixed;
    margin-top: 44px;
    margin-left: 20px;
    top: 0px;
  }
  .navbar-toggler {
    background: $main_color;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
}
