<div class="container">
  <div class="post-news-button">Đăng tin mới</div>
  <form action="" method="POST">
    <div>
      <div class="col-xl-8" style="margin-left: 140px;">
        <div class="input-item">
          <h3>Tiêu đề tin</h3>
          <input type="text">
        </div>
        <div class="input-item">
          <h3>Chuyên mục tin</h3>
          <p>Chọn một chuyên mục cho bản tin.Nhấn vào đây nếu bạn muốn thêm chuyên mục tin.</p>
          <select>
            <option>Tin tuyển sinh</option>
            <option>Tin hoạt động</option>
          </select>
        </div>
        <div class="input-item">
          <h3>Người gửi tin</h3>
          <input type="text">
        </div>
        <div class="input-item">
          <h3>Hình ảnh chính:</h3>
          <p>Hình ảnh chính của bản tin sẽ thể hiện như tiêu để của bản tin.</p>
          <input type="file">
        </div>
        <div>
          <h3>Nội dung tin</h3>
          <h3>khung editor</h3>
        </div>
      </div>
      <div style="display: flex; justify-content: center;">
        <input class="input-submit" type="submit" value="Lưu nháp">
        <input class="input-submit" type="submit" value="Hủy" >
        <input class="input-submit" type="submit" value="Đăng tin">
      </div>

    </div>


  </form>
</div>
