<div class="container">
  <div class="post-news-button">Đăng tin mới</div>
  <form action="" method="POST">
    <div>
      <div class="col-xl-8" style="margin-left: 140px;">
        <div class="input-item">
          <h3>Tiêu đề tin</h3>
          <input type="text">
        </div>
        <div class="input-item">
          <h3>Chuyên mục tin</h3>
          <p>Chọn một chuyên mục cho bản tin.Nhấn vào đây nếu bạn muốn thêm chuyên mục tin.</p>
          <select>
            <option *ngFor="let item of listcategory">{{item.categoryName}}</option>
          </select>
        </div>
        <div class="input-item">
          <h3>Người gửi tin</h3>
          <input type="text">
        </div>
        <div class="input-item">
          <h3>Hình ảnh chính:</h3>
          <p>Hình ảnh chính của bản tin sẽ thể hiện như tiêu để của bản tin.</p>
          <input type="file">
        </div>
        <div>
          <h3>Nội dung tin</h3>
        </div>
        <ckeditor [editor]="Editor" [config] ="editorConfig"></ckeditor>
      </div>
      <div style="display: flex; justify-content: center;">
        <input class="button" type="submit" value="Lưu nháp">
        <input class="button" type="submit" value="Hủy" >
        <!-- button gui tin danh cho nguoi viet tin sau khi gui tin, tin tuc se dươc chuyen sang trang cua nguoi quan tri duyet tin, nguoi dang  -->
        <input [ngStyle]="{'display': active == true ? 'block' : 'none'}" class="button" type="submit" value="Gửi tin">
        <input [ngStyle]="{'display': active == false ? 'block' : 'none'}" class="button" type="submit" value="Đăng tin">
      </div>
    </div>
  </form>
</div>
