$main-color: #B03234;
#list-news{
  margin-top: 50px;
  height: 638px;
  #news-name{
    background: #B032;
    color:$main-color;
    padding: 3px;
    text-align: center;
  }
  .news-body{
    margin-top: 20px;
    .main-news{
      border-bottom: 1px solid $main-color;
      height: 280px;
      .main-image{
        display: inline-block;
      }
      .content{
        float: right;
        .subscription{
          margin-top: 13px;
          height: 150px;
        }
      }
    }
    .second-news{
      margin-top: 20px;
      .second-name{
        margin-top: 10px;
      }
    }
  }

}
.my-pagination .ngx-pagination .current {
  background: red;
}
