<div id="list-news">
  <h4 id="news-name">{{categoryName}}</h4>
  <div class="news-body">
    <span *ngFor="let item of listNews">
      <span *ngIf="item.mainNews===true && item.status===true">
        <div class="main-list-news">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-12 main-image">
            <img style="width: 100%;" src="../../../../../assets/news_images/{{item.imagePath}}">
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 content">
            <div class="title">
              <a href="#">{{item.title}}</a>
            </div>
            <div class="subscription">
              {{item.shortContent}}
            </div>
            <div>
              <a [routerLink]="['/newsdetail',item.newsId]">Chi tiết</a>
            </div>
          </div>
        </div>
      </span>
    </span>
    <span *ngFor="let item of listNews | paginate: {itemsPerPage: 7, currentPage: p}">
      <span *ngIf="item.mainNews===false && item.status === true">
        <div class="second-list-news">
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12" style="display: inline-block; float: left; margin-top: 20px;">
            <div class="second-image">
              <img style="width: 100%; height: 200px;" src="../../../../../assets/news_images/{{item.imagePath}}">
            </div>
            <div class="second-name">
              <a href="#">{{item.title}}</a>
            </div>
          </div>
        </div>
      </span>
    </span>
  </div>
</div>
<div class="col-xl-12" style="margin-top: 290px;">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

