<div id="calendar">
  <h5 id="title">
    Thông tin tuyển sinh
  </h5>
  <div>
    <div id="name">{{calendar.lits_ten}}</div>
    <div id="timeregis">I. Thời gian đăng ký và nhập học:</div>
    <div id="timedetail">
      - Ngày khai giảng: {{calendar.lits_ngaykg}}<br>
      - Giờ học: {{calendar.lits_tghoc}}<br>
      - Thời gian bắt đầu đăng ký: {{calendar.lits_bddk}}<br>
      - Thời gian kết thúc đăng ký: {{calendar.lits_ktdk}}<br>
      - Thông tin khác: {{calendar.lits_ttkhac}}
    </div>
    <div id="timeregis">II. Địa điểm đăng ký và làm thủ tục nhập học:
      <p>Văn phòng trung tâm Công nghệ phần mềm Đại học Cần Thơ</p>
    </div>
    <input id="submit-regis" type="button" value="Đăng ký"/>
  </div>
</div>
