$maincolor: #B03234;
#calendar{
  margin-top: 50px;
  border-top: 5px solid $maincolor;
  #title{
    height: 40px;
    color: white;
    padding-left: 5px;
    margin-left: 2px;
    padding-right: 15px;
    display: inline-block;
    background-color: $maincolor;
  }
  #name{
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
  }
  #timeregis{
    margin-left: 50px;
    font-weight: 500;
    margin-top: 20px;
    p{
      font-weight: 100;
      float: right;
      margin-right: 139px;
    }
  }
  #timedetail{
    margin-top: 15px;
    margin-left: 90px;
    line-height: 2;
  }
  #submit-regis{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-left: 400px;
    padding-right: 40px;
  }
}
