<div class="container1">
  <h2>Quản lý tin tức</h2>
  <div>
    <div>
      <button mat-raised-button (click)="nextToCreateNews()">Đăng tin mới</button>
      <mat-form-field style="margin-left: 600px; width: 250px;">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Tin tuyển sinh">
      </mat-form-field>
    </div>

    <!-- filter -->

    <!-- table news -->
    <div class="mat-elevation-z8" style="margin-top: 43px;">
      <table mat-table [dataSource]="dataSource" matSort style="width: 100%; margin-top: 20px;">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 454px;">Tiêu đề</th>
          <td mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Chuyên mục</th>
          <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
        </ng-container>
        <ng-container matColumnDef="dateCreate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
          <td mat-cell *matCellDef="let element">19-12-2020</td>
        </ng-container>
        <ng-container matColumnDef="checknews">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tin đã duyệt</th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button (click)="updateStatus(element.newsId,false)" color="primary" [ngStyle]="{'display': element.status===true ? 'block' : 'none'}">True</button>
            <button mat-stroked-button (click)="updateStatus(element.newsId,true)" color="warn" [ngStyle]="{'display': element.status===false ? 'block' : 'none'}">False</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Chi tiết</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="detailNews(element.newsId)">detail</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="deleteNews">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Xóa tin</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="deleteNewsDialog(element.newsId)">x</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumn; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumn"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
