$main-color : #B03234;
.post-news-button{
  display: inline-block;
  background-color: $main-color ;
  float: left;
  height: 40px;
  width: 110px;
  :hover{
    cursor: pointer;
  }
  a{
    color: white;
  }
}
.find-button{
  display: flex;
  justify-content: flex-end;
}
.list-news{
  margin-top: 23px;
}
.list-button-detail{
  input{
    height: 40px;
    width: 60px;
    margin-right: 2px;
  }
}
.button-item{
  height: 30px;
  width: 55px;
  margin-left: 20px;
}
.image-news{
  img {
    height: 200px;
    width: 225px;
    margin-left: 30px;
    margin-right: 20px;
  }
}
