<div class="container">
  <div class="post-news-button">Quản lý chuyên mục tin tức</div>
  <div>
    <div class="text" style="margin: 30px;">
      Danh sách chuyên mục tin:
      <button mat-raised-button (click)="addDialog()">Thêm</button>
    </div>
  </div>

  <div style="display: flex; justify-content: center;">
    <div id="add-category-news" [ngStyle]="{'display':action==1 ? 'block' : 'none'}" class="col-xl-8 formEditNews" style="">
      <div class="form-input">
        <h4>{{nameAction}}</h4>
        <div class="alert alert-success">Chuyên mục tin tức giúp sắp xếp và quản lý tin một cách hiệu quả.
          Sử dụng trang này để thêm, xóa hoặc chỉnh sửa chuyên mục tin. Lưu ý, xóa chuyên mục tin sẽ xóa luôn tất cả các tin đã đăng trong chuyên mục.
        </div>
        <!-- form -->
        <form #categoryForm="ngForm" method="post">
          <div class="form-group">
            <label for="categoryname" class="text-info">Tên loại tin:</label><br>
            <input type="text" class="form-control" id="categoryname" [(ngModel)]="category.categoryName"  name="categoryName" required />
          </div>
          <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-success btn-submit" [disabled]="!categoryForm.form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="edit-category-news" [ngStyle]="{'display':action==2 ? 'block' : 'none'}">
    <div style="display: flex; justify-content: center;">
      <div id="add-category-news" class="col-xl-8 formEditNews" style="">
        <div class="form-input">
          <h4>{{nameAction}}</h4>
          <div class="alert alert-success">Chuyên mục tin tức giúp sắp xếp và quản lý tin một cách hiệu quả.
            Sử dụng trang này để thêm, xóa hoặc chỉnh sửa chuyên mục tin. Lưu ý, xóa chuyên mục tin sẽ xóa luôn tất cả các tin đã đăng trong chuyên mục.
          </div>
          <form #categoryEditForm="ngForm"  method="post">
            <div class="form-group">
              <label for="categoryname" class="text-info">Tên loại tin:</label><br>
              <input type="text" class="form-control" id="categoryname" [(ngModel)]="category.categoryName"  name="categoryName" required />
            </div>
            <div style="display: flex; justify-content: center;">
              <button type="submit" class="btn btn-success btn-submit" [disabled]="!categoryEditForm.form.valid">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="list" style="margin: 30px;">
    <table>
      <thead>
        <tr style="background-color: #AFAFAF; height: 50px;">
          <th class="col-xl-8" style="">Tên loại tin</th>
          <th class="col-xl-4"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCategory | paginate: {itemsPerPage: 5, currentPage: p}; let i=index" [ngClass]="{'my-class' : i%2==1}">
          <td>
            <div class="col-xl-8" style="display: inline-block;">
              {{item.categoryName}}
            </div>
            <div class="col-xl-4" style="float: right; display: flex;">
              <button mat-raised-button (click)="editCategory(item.categoryId)">Sửa</button>
              <button mat-raised-button (click)="deleteCategory(item.categoryId)">Xóa</button>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

  </div> -->
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên loại tin</th>
        <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
      </ng-container>
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="updateDialog(element.categoryId)">Sửa</button></td>
      </ng-container>
      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="deleteDialog(element.categoryId)">Xóa</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns : displayColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

