<div class="container1">
  <div class="insert-menu">
    <h3>Thêm menu</h3>
    <div>
      <div style="margin-top: 30px;">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">Lưu ý:</h3>
          <span>
            Khi click chọn vào checkbox menu gốc, menu khi thêm vào sẽ <br>
            được hiển thị trực tiếp trên thanh menu thay vì hiển thị như các menu con
          </span>
        </div>
      </div>
      <div class="insert-name" style="margin-top: 30px;">

          <div class="input-box">
            <button mat-raised-button [matMenuTriggerFor]="menu"  [disabled]="checked===true">Loại tin</button>
            <mat-checkbox style="margin-left: 50px;" color="primary" [(ngModel)]="checked">Menu gốc</mat-checkbox>
          </div>
          <mat-label>Menu cha</mat-label>
          <input matInput [(ngModel)]="selectedMenu.name">
          <mat-label>Tên menu</mat-label>
          <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name"/>
          <!-- </mat-form-field> -->
          <button (click)="insertMenu()" style="width: 115px;" mat-raised-button>Thêm menu</button>
        <!-- </form> -->
      </div>

      <mat-menu type="button" #menu="matMenu">
        <span *ngFor="let item of listMenu">
          <span *ngIf="item.submenu && item.submenu.length>0">
            <button mat-menu-item [matMenuTriggerFor]="childmenu" (click)="getSelectedMenu(item.menuId, item.name)" style="">
              {{item.name}}
            </button>
            <mat-menu #childmenu="matMenu" style="">
              <span *ngFor="let child of item.submenu">
                <button mat-menu-item (click)="getSelectedMenu(child.menuId, child.name)">{{child.name}}</button>
              </span>
            </mat-menu>
          </span>
          <span *ngIf="!item.submenu || item.submenu.length===0">
            <button mat-menu-item (click)="getSelectedMenu(item.menuId, item.name)">
              {{item.name}}
            </button>
          </span>
        </span>
      </mat-menu>
    </div>
  </div>
  <span class="allert allert-succes"> Thanh menu sẽ có dạng thế này sau khi</span>
  <div>
    <ul class="main-menu navbar-nav" >
      <li class="menu-item nav-item dropdown" *ngFor="let item of listMenu">
        <span *ngIf="item.menuId===1">
          <a class="menu-link nav-link" (click)="showDialogChoose(item.menuId)" href="javascript:void(0)">
            {{item.name}}
          </a>
        </span>
        <span *ngIf="item.menuId!=1">
          <a class="menu-link nav-link" (click)="showDialogChoose(item.menuId)">
            {{item.name}}
          </a>
        </span>
        <ul class="sub-menu">
          <li class="sub-menu-item"  *ngFor="let i of item.submenu">
            <a class="dropdown-item" href="javascript:void(0)" (click)="showDialogChoose(item.menuId)">
              {{i.name}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>
