<div class="container1">
  <div class="post-news-button">Thêm lịch tuyển sinh</div>
  <div>
    <form #addCalendarForm="ngForm" method="POST">
      <div class="col-xl-8" style="margin-left: 140px; margin-top: 50px;">
        <div class="input-item">
          <h6>Tên lịch tuyển sinh:</h6>
          <mat-form-field>
            <mat-label>Tên</mat-label>
            <input matInput [(ngModel)]="Calendar.lits_ten"  name="lits_ten"/>
          </mat-form-field>
        </div>
        <div class="input-item">
          <h6 style="display: inline-block;">Có kiểm tra đầu vào không?</h6>
          <div style="display: block; float: right; margin-right: 150px; margin-top: 20px;">
            <mat-checkbox color="primary" [(ngModel)]="checked" name="check">Thi đầu vào</mat-checkbox>
          </div>

        </div>
        <div class="input-item">
          <h6>Ngày thi</h6>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="Calendar.lits_ngaythi" name="lits_ngaythi" [matDatepicker]="picker"/>
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="input-item">
          <h6>Ngày khai giảng</h6>
          <!-- <p class="alert alert-success"></p> -->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="Calendar.lits_ngaykg" name="lits_ngaykg" [matDatepicker]="dayOpen"/>
            <mat-datepicker-toggle matSuffix [for]="dayOpen">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dayOpen></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="input-item">
          <h6>Ngày bắt đầu đăng ký</h6>
          <!-- <p class="alert alert-success"></p> -->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="Calendar.lits_bddk" name="lits_bddk" [matDatepicker]="startRegis"/>
            <mat-datepicker-toggle matSuffix [for]="startRegis">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #startRegis></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="input-item">
          <h6>Ngày kết thúc đăng ký</h6>
          <!-- <p class="alert alert-success"></p> -->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="Calendar.lits_ktdk" name="lits_ktdk" [matDatepicker]="endRegis"/>
            <mat-datepicker-toggle matSuffix [for]="endRegis">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #endRegis></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="input-item">
          <h6>Ngày ghi danh</h6>
          <!-- <p class="alert alert-success"></p> -->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="Calendar.lits_ngayghidanh" name="lits_ngayghidanh" [matDatepicker]="ngayghidanh"/>
            <mat-datepicker-toggle matSuffix [for]="ngayghidanh">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #ngayghidanh></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="input-item">
          <h6>Thời gian học:</h6>
          <mat-form-field>
            <!-- <mat-label>Thời gian học</mat-label> -->
            <input matInput [(ngModel)]="Calendar.lits_tghoc"  name="lits_tghoc"/>
          </mat-form-field>
        </div>
        <div class="input-item">
          <h6>Thông tin khác:</h6>
          <mat-form-field>
            <!-- <mat-label>Thông tin khác</mat-label> -->
            <textarea matInput [(ngModel)]="Calendar.lits_ttkhac" name="lits_ttkhac"></textarea>
          </mat-form-field>
        </div>
        <button (click)="addCalendar()" [ngStyle]="{'display': id!=null ? 'none' : 'block'}" id="button-add-calendar" mat-raised-button color="primary">Thêm</button>
        <button (click)="updateCalendar()" [ngStyle]="{'display': id!=null ? 'block' : 'none'}"  mat-raised-button color="primary">Update</button>
      </div>
    </form>
  </div>
</div>
