.input-item{
  input{
    width: 100%;
  }
  h6{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.mat-form-field{
  width: 620px !important;
}
#button-add-calendar{
  margin-left: 285px;
  margin-top: 20px;
}
