.ng-valid[required], .ng-valid.required{
  border: 2px solid #42A948;
}
.ng-invalid:not(form){
  border: 2px solid #a94442;
}
.post-news-button{
  font : {
    size: 25px;
  }
  padding-bottom: 20px;
  border-bottom: 1px solid #AFAFAF;
}
.button{
  height: 35px;
  width: 100px;
  border: 1px solid #B03234;
  background: white;
  color: #B03234;
  margin: 5px;
}
