<div class="">
  <nav id="nav-config">
    <div id="header-config-logo">
      <img style="height: 71px;" src="../../../assets/image/logo_cusc.png" alt="image-not-found">
      <p>KHU VỰC QUẢN LÝ<p>
    </div>
    <div class="nav-content">
      <ul>
        <li>
          <a routerLink="home">trang chủ</a>
        </li>
        <li>
          <a>quản lý</a>
        </li>
        <li>
          <a>chỉnh sửa</a>
        </li>
        <li>
          <a>tin tức</a>
        </li>

      </ul>

    </div>
    <div id="user-image">X</div>
    <div class="exit-button">
      <a>[Thoát]</a>
      <a>[Trang chủ]</a>
    </div>
  </nav>
</div>
